.heading-2 {
  font-family: Raleway, 'sans-serif';
  font-size: 40px;
  line-height: 47px;
  color: #0f133c;
  font-weight: bold;

  &_substrate {
    color: #ffffff;
  }

  @include media(1169px) {
    font-size: 24px;
    line-height: 28px;
  }

  @include media(769px) {
    font-size: 20px;
    line-height: 23px;
  }
}
