+b('map')
  +heading-2(map.heading, {b: 'container'})
  +e('map-wrapper')
    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A459772136db92e6b0746af51f567ef8f0dca040b266abc03233f7e8cb4470445&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=false")
