+b('map')(id='map')
  +heading-2(map.heading, {b: 'container'})
  +e('wrapper')
    +b('address', {b: 'container'})
      +e('title', {}, 'h4') Контакты
      +e('desc', {}, 'p') Жилой район "Светлый"
      +e('city-address', {}, 'p') Новосибирская обл.,
        br
        | п. Октябрьский, ул. Локтинская, д. 10/2
      +e('phone', {}, 'a')(href="tel:+73833830735") 8 (383) 383 07 35
    +e('billet')

  div(style="height: 700px")
    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A459772136db92e6b0746af51f567ef8f0dca040b266abc03233f7e8cb4470445&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=false")
