+b('map')(id='map')
  +heading-2(map.heading, {b: 'container'})

  +b('map-wrap')(id='mymap')


  +e('wrapper')
    +b('address', {b: 'container'})
      +e('title', {}, 'h4') Контакты
      +e('desc', {}, 'p') Жилой район "Светлый"
      +e('city-address', {}, 'p') Новосибирская обл.,
        br
        | п. Октябрьский, ул. Локтинская, д. 10/2
      +e('phone', {}, 'a')(href="tel:+73833830735") 8 (383) 383 07 35
    +e('billet')
    +b('billet-mobile')
      +e('wrapper container')
        +e('contacts')
          +e('title', {}, 'h4') Контакты
          +e('desc', {}, 'p') Жилой район "Светлый"
        +e('about')
          +e('city-address', {}, 'p') Новосибирская обл.,
            br
            | п. Октябрьский, ул. Локтинская, д. 10/2
          +e('phone', {}, 'a')(href="tel:+73833830735") 8 (383) 383 07 35

