+b('elemental', {b: 'container'})
  +e('heading', {}, 'h3') !{elemental.heading}

  +b('slider-elemental')
    for item in elemental.slide
      +e('slide')
        +e('image', {}, 'img')(src= item.image)
        +e('description',{}, 'p') !{item.description}
