.elemental {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-top: 80px;
  padding-bottom: 1px;

  &__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0f133c;
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid #afc924;
  }
}

.slider-elemental {
  margin-top: 40px;

  &__slide {
    margin: 0 30px;
    position: relative;
  }

  &__image {
    width: 480px;
    height: 280px;
    border-radius: 20px;

    @include media(1169px) {
      width: 410px;
      height: 237px;
    }
  }

  &__description {
    position: absolute;
    bottom: 30px;
    font-size: 16px;
    line-height: 1.35;
    color: #ffffff;
    padding: 0 30px;
    width: 420px;

    @include media(1169px) {
      width: 350px;
    }
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 80px;
  }

  .slick-dots li.slick-active button:before {
    color: #afc924;
  }

  .slick-dots {
    bottom: -50px;
  }

  .slick-dots li button:before {
    font-size: 16px;
    color: #c4c4c4;
    opacity: 1;
  }

  .slick-prev, .slick-next {
    color: #0f133c;
    cursor: pointer;
    width: 65px;
    bottom: -60px;
    top: auto;
    z-index: 99;

    &:hover {
      color: #9d9b9b;
    }
  }

  .slick-prev {
    left: calc(50% - 200px);
  }

  .slick-next {
    right: calc(50% - 200px);
  }
}
