+b('elemental', {b: 'container'})
  +e('heading', {}, 'h3')= elemental.heading

  +b('slider-elemental')
    +e('slide')
      +e('image', {}, 'img')(src='./public/images/elemental/slider-elemental1.jpg')
      +e('description',{}, 'p') Огонь – прозрачная стеклянная сфера в золотых руках, установленная на куполе центрального монумента

    +e('slide')
      +e('image', {}, 'img')(src='./public/images/elemental/slider-elemental1.jpg')
      +e('description',{}, 'p') Огонь – прозрачная стеклянная сфера в золотых руках, установленная на куполе центрального монумента

    +e('slide')
      +e('image', {}, 'img')(src='./public/images/elemental/slider-elemental1.jpg')
      +e('description',{}, 'p') Огонь – прозрачная стеклянная сфера в золотых руках, установленная на куполе центрального монумента

    +e('slide')
      +e('image', {}, 'img')(src='./public/images/elemental/slider-elemental1.jpg')
      +e('description',{}, 'p') Огонь – прозрачная стеклянная сфера в золотых руках, установленная на куполе центрального монумента
