.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__input {
    width: 350px;
    border: none;
    outline: none;
    padding-bottom: 4px;
    border-bottom: 1px solid #9D9B9B;
    background-color: transparent;
    color: #9D9B9B;
    font-size: 16px;
    font-family: Inter, 'sans-serif';
    margin-bottom: 40px;
  }

  &__button {
    width: 350px;
    height: 68px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(91.21deg, #FF7918 0.73%, #FF6B18 99.82%);
    border: none;
    margin-top: -10px;
    transition: all 0.5s ease-out;
    &:hover {
      background: linear-gradient(271.61deg, #FF7715 0.34%, #FF6B18 99.64%);
    }
    &:active {
      background: linear-gradient(271.61deg, #F06506 0.84%, #F45904 99.64%);
    }

  }

}
