.district {
  margin-top: 80px;

  &__counter {
    margin-top: 10px;
    z-index: 1;
    font-size: 20px;
    mix-blend-mode: difference;
    pointer-events: none;
    font-weight: 500;
    color: #0F133C;
  }

  &__description {
    font-size: 20px;
    line-height: 27px;
    color: #0F133C;
    font-weight: 300;
    @include media(1169px) {
      font-size: 16px;
    }
    @include media(579px) {
      text-align: center;
    }
  }

}

.slider-district {

  &__slide {
    //position: relative;
    border-radius: 10px;
  }

  &__controller {
    position: relative;
  }

  &__image {
    margin-top: 20px;
    width: 100%;
  }

  .slick-prev, .slick-next {
    position: absolute;
    color: #0f133c;
    cursor: pointer;
    width: 65px;
    bottom: -60px;
    top: -1%;
    z-index: 99;
    @include media(579px) {
      top: -4%;
    }

    &:hover {
      color: #9d9b9b;
    }
  }

  .slick-prev {
    left: 85%;
    @include media(959px) {
      left: 76%;
    }
    @include media(769px) {
      left: 70%;
    }
    @include media(579px) {
      left: 40%;
    }
  }

  .slick-next {
    right: 0;
  }

}
