+b('district', {b: 'container'})(id='district')
  +heading-2(district.heading, {})
  +e('description',{}, 'p') !{district.description}
  +e('counter') 01 / !{district.slide.length}
+b('slider-district', {b: 'container'})(id='slider-district-id')
  for item in district.slide
    +e('slide')
      +e('image', {}, 'img')(src= item.image)
