-
  const footer = [
    {
      "icon": "./public/images/icon-inst.png",
      "href": "https://www.instagram.com/svetlii_info/"
    },
    {
      "icon": "./public/images/icon-vk.png",
      "href": "https://vk.com/f1ide"
    }
  ];
