.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;

  @include media(769px) {
    flex-wrap: wrap;

    .menu {
      order: 1;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    .logo {
      order: 2;
      width: 50%;
    }

    .social-block {
      order: 3;
      width: 50%;
      margin: 0;
      justify-content: flex-end;
    }
  }
}

.social-block {
  display: flex;
  flex-grow: 1;
  margin-left: 95px;

  @include media(959px) {
    margin-left: 32px;
  }
}
