.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}

.social-block {
  display: flex;
  flex-grow: 1;
  margin-left: 95px;

  @include media(959px) {
    margin-left: 32px;
  }
}
