include data

+b('footer', {b: 'container'}, 'footer')(id='footer')
  +logo('./public/images/logo.png')
  +b('social-block')
    for item in footer
      +social-icon(item)
  +menu(navLinks, {m: 'footer'})
+b('', {}, 'script')(src="https://api-maps.yandex.ru/2.1/?apikey=d92dd3ab-34d1-4caf-b9ed-646f69875d80&lang=ru_RU" type="text/javascript")
