@include full-screen-bg(excursion) {
  background: url("./public/images/excursion/shadow-bg.jpg") no-repeat;
  background-size: cover;
  height: 308px;
  display: flex;

  @include media(769px) {
    height: 100%;
  }
}

.excursion {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;

  @include media(769px) {
    flex-direction: column;
    padding: 60px 120px 75px;

    .heading-2 {
      text-align: center;
    }
  }

  &__content {
    margin-bottom: 30px;
  }

  &__description {
    font-size: 16px;
    line-height: 21.6px;
    color: #ffffff;
    margin-top: 19px;
    max-width: 51%;
    font-weight: 400;

    @include media(1169px) {
      max-width: 70%;
    }

    @include media(769px) {
      width: 100%;
      text-align: center;
      max-width: 100%;
      font-size: 12px;
    }

    &:before {
      content: "";
      display: block;
      height: 3px;
      width: 108px;
      background: #ffffff;
      margin-bottom: 23px;

      @include media(769px) {
        margin: 20px auto;
      }
    }
  }
}
