@include full-screen-bg(benefits) {
  background: url("./public/images/bg-benefits.jpg") no-repeat;
  background-size: cover;
  height: 650px;
  display: flex;
  margin-top: 80px;
}

.benefits {
  padding-top: 60px;
}

.benefits-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 30px;

  &__item {
    width: calc(100% / 4);
    text-align: center;
    color: #ffffff;
    margin-bottom: 70px;
  }

  &__name {
    margin-top: 15px;
  }
}
