mixin monuments-block(data)
  +b('monuments-block')
    for item in data.monument
      +b('monument', { m: item.modifier ? item.modifier : '' })
        +e('description', {m: item.fillColor}, 'p') !{item.description}
        +e('image', {}, 'img')(src=item.image)
