@include full-screen-bg(usp) {
  background: url("./public/images/usp/bg-usp.jpg") no-repeat;
  background-size: cover;
  height: 1080px;
  display: flex;

  @include media(1169px) {
    height: 560px;
  }

  @include media(769px) {
    height: 420px;
  }

  @include media(579px) {
    background: url("./public/images/usp/bg-usp-mobile.jpg") no-repeat;
    height: 290px;
  }
}

.usp {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;

  @include media(579px) {
    top: 290px;
    margin: 0;
  }

  &__heading {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #0F133C;
    font-family: 'Raleway', sans-serif;

    @include media(1169px) {
      font-size: 32px;
      line-height: 38px;
    }

    @include media(769px) {
      font-size: 24px;
      line-height: 28px;
    }

    @include media(579px) {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 1.35;
    color: #0f133c;
    margin-top: 15px;
    max-width: 51%;

    @include media(1169px) {
      font-size: 16px;
    }

    @include media(959px) {
      max-width: 75%;
    }

    @include media(769px) {
      font-size: 14px;
      max-width: 100%;
    }

    @include media(579px) {
      font-size: 12px;
      text-align: center;
      margin-top: 4px;
    }
  }

  &__leaves {
    background: url("./public/images/usp/bg-leaves.png") no-repeat;
    background-size: auto;
    position: absolute;
    top: -370px;
    left: -400px;
    //временно надо будет разобраться верстк едет
    //width: 971px;
    height: 971px;

    @include media(1169px) {
      height: 510px;
    }
  }
}

.usp-mobile {
  display: none;

  @include media(579px) {
    display: block;
    height: 190px;
  }
}
