include ../../node_modules/bempug/index
include ../components/components
-
  BEMPUG.modifier = '_';
  BEMPUG.afterParse[ '' ] = function( block ) {
    block.classes = [];
  }

//-Блок подключения инклюдов на страницах
block includes

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel="icon" type="image/png" sizes="32x32" href="#")
    title= titlePage ? titlePage : ''
  body
    //-Header всех страниц
    block header
      include ../blocks/header/header

    //-Контентная индивидуальная часть страниц.
    block main

    //-Footer всех страниц.
    block footer
      include ../blocks/footer/footer
