extends page/layout
block includes
  include page/index/data


block main
  main
    include page/index/usp/usp
    +b('usp-mobile', {b: 'container'}, 'div')
    include page/index/monuments/monuments
    include page/index/elemental/elemental
    include page/index/benefits/benefits
    include page/index/district/district
    include page/index/map/map
    include page/index/excursion/excursion
