-
  //- вывод в head
  let titlePage = 'Светлый - жилой район';

  //- меню навигации
  let navLinks = [
    {
      "link": "О проекте",
      "href": "#"
    },
    {
      "link": "Галерея",
      "href": "#"
    },
    {
      "link": "Адрес",
      "href": "#"
    },
    {
      "link": "Контакты",
      "href": "#"
    }
  ]

  const usp = {
    "heading": "Мемориальный Комплекс Благодарности Предкам",
    "description": "Посвящен всем, кто отдал силы и жизни ради нашего Светлого Будущего. <br> Выражаем им почтение и признательность за подвиг служения общечеловеческим ценностям и идеалам, продолжая преемственность во имя последующих поколений. Мы обещаем, что воплотим ими задуманное и будем жить в Светлом Настоящем. <br> Помним и Благодарим!"
  }

  const monuments = [
    {
      "monument": [
        {
          "description": "Мемориал состоит из центрального монумента, к которому ведут четыре подхода через арки с коваными голубями наверху.",
          "image": "./public/images/monuments/monument1.jpg",
          "modifier": ""
        },
        {
          "description": "Арочные проходы символизируют четыре стороны света (юг, север, запад, восток), выражают четыре поколения - дед, отец, сын, внук. Голуби на арках символически олицетворяют души предков.",
          "image": "./public/images/monuments/monument2.jpg",
          "modifier": "reverse"
        }
      ]
    }
  ]
