-
  //- вывод в head
  let titlePage = 'Светлый - жилой район';

  //- меню навигации
  let navLinks = [
    {
      "link": "О проекте",
      "href": "#"
    },
    {
      "link": "Галерея",
      "href": "#"
    },
    {
      "link": "Адрес",
      "href": "#"
    },
    {
      "link": "Контакты",
      "href": "#"
    }
  ];

  // блок УТП
  const usp = {
    "heading": "Мемориальный Комплекс Благодарности Предкам",
    "description": "Посвящен всем, кто отдал силы и жизни ради нашего Светлого Будущего. <br> Выражаем им почтение и признательность за подвиг служения общечеловеческим ценностям и идеалам, продолжая преемственность во имя последующих поколений. Мы обещаем, что воплотим ими задуманное и будем жить в Светлом Настоящем. <br> Помним и Благодарим!"
  };

  // блок памятников
  const monuments = [
    {
      "monument": [
        {
          "description": "Мемориал состоит из центрального монумента, к которому ведут четыре подхода через арки с коваными голубями наверху.",
          "image": "./public/images/monuments/monument1.jpg"
        },
        {
          "description": "Арочные проходы символизируют четыре стороны света (юг, север, запад, восток), выражают четыре поколения - дед, отец, сын, внук. Голуби на арках символически олицетворяют души предков.",
          "image": "./public/images/monuments/monument2.jpg",
          "modifier": "reverse"
        }
      ]
    },
    {
      "monument": [
        {
          "description": "Центральный монумент с Колоколом Мира выражает неразрывность связи поколений, извечное стремление людей к миру, единству, всеобщему счастью.",
          "image": "./public/images/monuments/monument3.jpg",
          "fillColor": "fill-color1"
        },
        {
          "description": "При входе с северной стороны на территорию Мемориального Комплекса установлен памятный камень, на котором выгравированы слова благодарности.",
          "image": "./public/images/monuments/monument4.jpg",
          "modifier": "reverse"
        }
      ]
    },
    {
      "monument": [
        {
          "description": "Внутри центрального монумента с четырех сторон установлены гранитные плиты, на которых написаны цитаты и изречения о благодарности предкам.",
          "image": "./public/images/monuments/monument5.jpg"
        },
        {
          "description": "Завершает Центральный монумент прозрачная стеклянная сфера в золотых руках, символизирующая мечту наших предков о Светлом Будущем.",
          "image": "./public/images/monuments/monument6.jpg",
          "modifier": "reverse",
          "fillColor": "fill-color2"
        }
      ]
    }
  ];

  const elemental = {
    "heading": "В Мемориальном Комплексе выражены четыре стихии",
    "slide": [
      {
        "image": "./public/images/elemental/slider-elemental4.jpg",
        "description": "Земля – лабиринт прогулочных дорожек опоясывающих мемориальный комплекс."
      },
      {
        "image": "./public/images/elemental/slider-elemental2.jpg",
        "description": "Вода – фонтаны, расположенные с четырех сторонам мемориального комплекса."
      },
      {
        "image": "./public/images/elemental/slider-elemental3.jpg",
        "description": "Воздух – арки с четырех сторон мемориального комплекса."
      },
      {
        "image": "./public/images/elemental/slider-elemental1.jpg",
        "description": "Огонь – прозрачная стеклянная сфера в золотых руках, установленная на куполе центрального монумента."
      }
    ]
  };

  const district = {
    'heading' : 'Жилой район "Светлый"',
    "description": "Живописное место всего в 25 минутах от метро Заельцовская",
    "slide": [
      {
        "image": "./public/images/district/district-slide1.png",
      },
      {
        "image": "./public/images/district/district-slide2.jpg",
      },
      {
        "image": "./public/images/district/district-slide3.jpg",
      },
      {
        "image": "./public/images/district/district-slide4.jpg",
      },
      {
        "image": "./public/images/district/district-slide5.jpg",
      },
      {
        "image": "./public/images/district/district-slide6.jpg",
      },
      {
        "image": "./public/images/district/district-slide7.jpg",
      },
      {
        "image": "./public/images/district/district-slide8.jpg",
      },
      {
        "image": "./public/images/district/district-slide9.jpg",
      },
      {
        "image": "./public/images/district/district-slide10.jpg",
      },
      {
        "image": "./public/images/district/district-slide11.jpg",
      },
      {
        "image": "./public/images/district/district-slide12.jpg",
      },
      {
        "image": "./public/images/district/district-slide13.jpg",
      },
      {
        "image": "./public/images/district/district-slide14.jpg",
      },
      {
        "image": "./public/images/district/district-slide15.jpg",
      },
      {
        "image": "./public/images/district/district-slide16.jpg",
      },
      {
        "image": "./public/images/district/district-slide17.jpg",
      },
      {
        "image": "./public/images/district/district-slide18.jpg",
      }
    ]
  };

  const benefits = {
    "heading": "Мемориальный Комплекс Благодарности Предкам это:",
    "benefitsItems" : [
      {
        "image": "./public/images/benefits/benefits1.png",
        "name": "Уникальная достопримечательность"
      },
      {
        "image": "./public/images/benefits/benefits2.png",
        "name": "️Возможность поблагодарить Предков"
      },
      {
        "image": "./public/images/benefits/benefits3.png",
        "name": "️Место проведения Дня Ми"
      },
      {
        "image": "./public/images/benefits/benefits4.png",
        "name": "Прекрасная фотозона"
      },
      {
        "image": "./public/images/benefits/benefits5.png",
        "name": "Свадебная традиция"
      },
      {
        "image": "./public/images/benefits/benefits6.png",
        "name": "Отличное место для отдыха и умиротворения"
      },
      {
        "image": "./public/images/benefits/benefits7.png",
        "name": "️Источник энергии и жизненной силы"
      },
      {
        "image": "./public/images/benefits/benefits8.png",
        "name": "Наше Светлое Настоящее!"
      }
    ]
  };

  const map = {
    "heading": "Адрес"
  };

  const excursion = {
    "heading": "Записаться на экскурсию",
    "description": "Запишитесь на экскурсию, выберите себе квартиру и воплотите свою мечту в жизнь в живописном месте!"
  };
