-
  const usp = {
    "heading": "Мемориальный Комплекс Благодарности Предкам",
    "description": "Посвящен всем, кто отдал силы и жизни ради нашего Светлого Будущего. <br> Выражаем им почтение и признательность за подвиг служения общечеловеческим ценностям и идеалам, продолжая преемственность во имя последующих поколений. Мы обещаем, что воплотим ими задуманное и будем жить в Светлом Настоящем. <br> Помним и Благодарим!"
  }

