-
  let titlePage = 'Светлый - жилой район';

  let navLinks = [
    {
      "link": "О проекте",
      "href": "#"
    },
    {
      "link": "Галерея",
      "href": "#"
    },
    {
      "link": "Адрес",
      "href": "#"
    },
    {
      "link": "Контакты",
      "href": "#"
    }
  ]
